.calculator_background{
    margin-top: 5rem;
    padding-top: 3rem;
    /* background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); */
    background-color: var(--light-color);
    background-image:  
        linear-gradient(var(--gray-color) 2px, transparent 2px), 
        linear-gradient(to right, var(--gray-color) 2px, var(--light-color) 2px);
    background-size: 5rem 5rem;
    background-position: 2.5rem 2.5rem;
    position: relative;
}

.curves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}
.curves-b{
    top: 2px;
    z-index: 1;
}

.curves svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 150px;
}

.curves .shape-fill {
    fill: var(--light-color);
}

.curves-b .shape-fill {
    fill: var(--gray-color);
}

.about_wrap{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about_container{
    width: 75%;
    height: 100vh;
}

.notfound_section{
    position: fixed;
    top: 4rem;
    padding: 1rem;
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
    justify-content: center;
    background-color: var(--light-color);
    background-image:  
        linear-gradient(var(--gray-color) 2px, transparent 2px), 
        linear-gradient(to right, var(--gray-color) 2px, var(--light-color) 2px);
    background-size: 5rem 5rem;
    background-position: 2.5rem 2.5rem;
}
.notfound_container{
    padding: 1rem 1rem 2rem 1rem;
    width: 75%;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.notfound_container h1{
    margin: 7rem 0 5rem 0;
    line-height: 0;
    width: 100%;
    font-size: 10em;
    text-align: center;
}
.notfound_container h2{
    width: 100%;
    font-size: 2em;
    line-height: 0;
    text-align: center;
}
.notfound_container p{
    margin: 0;
    line-height: 1.5em;
    width: 80%;
    text-align: center;
}
.notfound_btn_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}