.calculator_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); */
}
.calculator_container{
    padding: 3rem 0;
    /* width: 75%; */
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.calc_link{
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
}

.calculator_container h1{
    color: var(--dark-color);
    width: 100%;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
    margin: 1rem 0;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.15));
    display: flex;
    justify-content: center;
}
.calc_items_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.calc_items_wrap h2{
    width: 100%;
    text-align: center;
    line-height: 0;
    margin: 2rem 0 1rem 0;
}
.calc_item_container{
    padding: 0.5rem;
    width: 18rem;
    /* height: 5rem; */
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--dark-color);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transform: translateX(0) translateY(0);
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.calc_item_container:hover{
    -webkit-box-shadow: 
        1px 1px var(--dark-color), 
        2px 2px var(--dark-color), 
        3px 3px var(--dark-color), 
        4px 4px var(--dark-color), 
        5px 5px var(--dark-color), 
        6px 6px var(--dark-color), 
        7px 7px var(--dark-color), 
        8px 8px var(--dark-color);
    
    box-shadow: 
        1px 1px var(--dark-color), 
        2px 2px var(--dark-color), 
        3px 3px var(--dark-color), 
        4px 4px var(--dark-color), 
        5px 5px var(--dark-color), 
        6px 6px var(--dark-color), 
        7px 7px var(--dark-color), 
        8px 8px var(--dark-color);

    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
}
.calc_item_container:hover::after {
    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.calc_item_image{
    width: 3.5rem;
    height: 3.5rem;
    /* background: var(--light-color);
    border-radius: 0.5rem; */
}
.calc_item_img{
    width: 100%;
    aspect-ratio: 1/1;
}
.calc_item_name{
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.calc_item_name span{
    width: 100%;
}

.calculator_nav{
    margin: 1rem 0 3rem 0;
    width: 24rem;
    height: 3rem;
    background: white;
    border: 3px solid var(--dark-color);
    border-radius: 10px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    transform-origin: top;
    position: relative;
}
.calculator_nav_items{
    width: 40%;
    height: 100%;
    color: var(--dark-color);
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease;
}
.calculator_nav_items:nth-child(1){
    width: 20%;
}
.calc_nav_active{
    height: 100%;
    background: var(--dark-color);
    color: white;
}

@-webkit-keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color);
        box-shadow: 
            0 0 var(--dark-color), 
            0 0 var(--dark-color),
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color);
        
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 
            1px 1px var(--dark-color), 
            2px 2px var(--dark-color), 
            3px 3px var(--dark-color), 
            4px 4px var(--dark-color), 
            5px 5px var(--dark-color), 
            6px 6px var(--dark-color), 
            7px 7px var(--dark-color), 
            8px 8px var(--dark-color);

        box-shadow: 
            1px 1px var(--dark-color), 
            2px 2px var(--dark-color), 
            3px 3px var(--dark-color), 
            4px 4px var(--dark-color), 
            5px 5px var(--dark-color), 
            6px 6px var(--dark-color), 
            7px 7px var(--dark-color), 
            8px 8px var(--dark-color);

        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}

@keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color);
        box-shadow: 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color), 
            0 0 var(--dark-color);
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 
            1px 1px var(--dark-color), 
            2px 2px var(--dark-color), 
            3px 3px var(--dark-color), 
            4px 4px var(--dark-color), 
            5px 5px var(--dark-color), 
            6px 6px var(--dark-color), 
            7px 7px var(--dark-color), 
            8px 8px var(--dark-color);
        box-shadow: 
            1px 1px var(--dark-color), 
            2px 2px var(--dark-color), 
            3px 3px var(--dark-color), 
            4px 4px var(--dark-color), 
            5px 5px var(--dark-color), 
            6px 6px var(--dark-color), 
            7px 7px var(--dark-color), 
            8px 8px var(--dark-color);
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}


/* Area Calculator */
.pages_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pages_container{
    /* margin-top: 4rem; */
    /* margin: 2rem; */
    width: 100%;
}
.pages_description_wrap{
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border: 3px solid var(--dark-color-b);
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.pages_container h1{
    margin: 0 0 0.5rem 0;
    color: var(--dark-color);
}
.pages_container p{
    color: var(--dark-color);
}

.calc_categories_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: space-between;
}
.calc_category_container{
    margin-bottom: 1rem;
    padding: 1rem;
    width: 49%;
    /* height: 20rem; */
    background: white;
    border: 3px solid var(--dark-color-b);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.calc_category_title{
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--dark-color);
    text-align: center;
}

.calc_category_content_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shape_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.square{
    width: 10rem;
    height: 10rem;
    border: 5px solid var(--dark-color);
}
.circle{
    width: 10rem;
    height: 10rem;
    border: 5px solid var(--dark-color);
    border-radius: 50%;
}
.rectangle{
    width: 15rem;
    height: 10rem;
    border: 5px solid var(--dark-color);
}
.parallelogram{
    width: 13rem;
    height: 10rem;
    border: 5px solid var(--dark-color);
    transform: skewX(-25deg);
}
.triangle{
    width: 0;
    height: 0;
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 10rem solid var(--dark-color);
}
.triangle_inside{
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 10rem solid white;
    transform: translate(-112px, 2px) scale(0.92);
}
.trapezoid{
    border-bottom: 10rem solid var(--dark-color);
	border-left: 4rem solid transparent;
	border-right: 4rem solid transparent;
	height: 0;
	width: 17rem;
}
.trapezoid_inside{
    border-bottom: 10rem solid white;
	border-left: 4rem solid transparent;
	border-right: 4rem solid transparent;
    width: 17rem;
    transform: translateX(-64px) scale(0.94);
}
.ellipse{
    width: 15rem;
    height: 10rem;
    border: 5px solid var(--dark-color);
    border-radius: 50%;
}
.sector {
    width: 10rem;
    height: 10rem;
    border-radius: 100% 0 0 0;
    border: 5px solid var(--dark-color);
    transform: rotate(45deg) translate(-24px, -24px);
}
.input_wrap{
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.calc_category_btns{
    display: flex;
    gap: 1rem;
}

.calc_container{
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border: 3px solid var(--dark-color-b);
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.date_picker_container{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.date_picker_wrap{
    width: 10rem;
    display: flex;
    flex-wrap: wrap;
}
.date_picker_label{
    width: 100%;
    font-weight: 600;
}
.input_date{
    padding: 0.5rem;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    font-family: 'Poppins';
    font-size: 1em;
}

.age_calculation_container{
    width: 23rem;
    /* height: 20rem; */
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.age_wrap{
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-right: 1px solid var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.next_birthday_wrap{
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-left: 1px solid var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.age_summary_wrap{
    width: 100%;
    height: 50%;
    padding: 1rem;
    border-top: 2px solid var(--dark-color);
}
.age_title_text{
    margin-bottom: 0.5rem;
    width: 100%;
    font-weight: 600;
    text-align: center;
}
.age_years_wrap{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.age_years_text{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--sky-blue);
    font-size: 2em;
    color: white;
    display: grid;
    place-content: center;
}
.age_years_subtext{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}
.age_small_text{
    font-size: 0.8em;
}
.age_medium_text{
    font-size: 1.5em;
}

.age_summary_result_wrap{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5rem;
}
.age_summary_result{
    display: grid;
    place-content: center;
    text-align: center;
}
.age_nextBDay_text{
    font-size: 2rem;
    color: var(--sky-blue);
}
.cake_icon_wrap{
    width: 3rem;
    height: 3rem;
    background: var(--sky-blue);
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.cake_icon{
    width: 2rem;
    height: 2rem;
    filter: invert(99%) sepia(4%) saturate(580%) hue-rotate(174deg) brightness(117%) contrast(100%);
}

/* BMI CALCULATOR */
.bmi_unit_system_select{
    margin-bottom: 1rem;
    /* width: 15rem; */
    /* padding: 0 2rem; */
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    display: flex;
    overflow: hidden;
}
.bmi_unit_system_select button{
    all: unset;
    padding: 0.5rem 1.5rem;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.bmi_inputs_wrap{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.bmi_input_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bmi_input_container{
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bmi_input_text{
    width: 100%;
    font-weight: 600;
}
.bmi_input_input_wrap{
    width: 20rem;
    height: 3rem;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.bmi_input_input_wrap_small{
    width: 9.5rem;
    height: 3rem;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.bmi_input_input{
    all: unset;
    padding-right: 0.25rem;
    width: 100%;
    font-size: 1.3em;
    text-align: right;
}
.bmi_input_input::-webkit-inner-spin-button,
.bmi_input_input::-webkit-outer-spin-button {
    margin-left: 0.25rem;
}
.bmi_input_unit{
    border-left: 2px solid var(--dark-color);
    height: 100%;
    width: 3.5rem;
    font-weight: 600;
    background: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .bmi_input_unit p{
    padding: 0.5rem;
    font-weight: 600;
} */

.bmi_result_wrap{
    /* width: 19rem; */
    /* border: 2px solid var(--dark-color); */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bmi_result_wrap h1{
    margin: 2rem 0 0.5rem 0;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    line-height: 0.5em;
}
.bmi_result{
    margin: 0;
    width: 100%;
    font-size: 4em;
    line-height: 1em;
    text-align: center;
    color: var(--sky-blue);
}
.bmi_result_category{
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
.bmi_btn_wrap{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bmi_chart_wrap{
    margin: 2rem 0;
    width: 25rem;
    height: 10px;
    display: flex;
    position: relative;
}
.bmi_chart_severe{
    width: 4.76%;
    height: 100%;
    background: #D04848;
}
.bmi_chart_severe_under{
    width: 4.76%;
    height: 100%;
    background: #512B81;
}
.bmi_chart_underweight{
    width: 11.9%;
    height: 100%;
    background: #4D96FF;
}
.bmi_chart_normal{
    width: 30.95%;
    height: 100%;
    background: #6BCB77;
}
.bmi_chart_overweight{
    width: 23.8%;
    height: 100%;
    background: #FFD93D;
}
.bmi_chart_obese{
    width: 23.8%;
    height: 100%;
    background: #FF6B6B;
}
.bmi_scale{
    width: 100%;
    position: absolute;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--dark-color);
    transform: translate(2%, 12px);
}
.bmi_scale-b{
    transform: translate(14%, 12px);
}
.bmi_scale-c{
    transform: translate(44%, 12px);
}
.bmi_scale-d{
    transform: translate(68%, 12px);
}
.bmi_scale-e{
    transform: translate(92%, 12px);
}

.bmi_scale_indicator_wrap{
    width: 100%;
    position: absolute;
}
.bmi_scale_indicator{
    width: 4px;
    height: 14px;
    background: var(--dark-color);
    border-radius: 5px;
}

.calc_table_wrap{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.bmi_table_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bmi_table{
    width: 25rem;
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid grey;
}
.bmi_table thead tr th, .bmi_table tbody tr td{
    border: 1px solid grey;
    text-align: left;
    padding: 0.5rem;
}
.bmi_table thead tr th:nth-child(1){
    width: 10%;
}
.bmi_table thead tr th:nth-child(2){
    width: 35%;
}
.bmi_table thead tr th:nth-child(3){
    width: 55%;
}
.bmi_table_td_color_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bmi_table_td_color{
    width: 12px;
    height: 12px;
}

/* AVERAGE CALCULATOR */
.average_calc_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    /* gap: 2rem; */
}
.average_textarea_wrap{
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
}
.average_textarea_wrap p{
    width: 100%;
}
.average_textarea_wrap textarea{
    all: unset;
    padding: 1rem;
    width: 100%;
    height: 7rem;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    resize: none;
}

/* DISCOUNT CALCULATOR */
.discount_calc_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 2rem; */
}
.discount_calc_inputs_wrap{
    margin: 1rem 0;
}
/* .discount_select_wrap{
    display: flex;
    flex-wrap: wrap;
} */
.discount_input_wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.discount_input_wrap p{
    margin: 0;
    width: 100%;
    font-weight: 600;
}
.discount_input_wrap input{
    all: unset;
    padding: 0.5rem;
    width: 100%;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
}


/* PERCENTAGE CALCULATOR */
.percentage_wrap{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.small_input_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    width: 10rem;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    overflow: hidden;
}
.small_input_wrap input{
    all: unset;
    padding: 5px;
    width: 70%;
    text-align: right;
}
.small_input_wrap p{
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 100%;
    border-left: 2px solid var(--dark-color);
    background: var(--gray-color);
    font-size: 1.2em;
    font-weight: 600;
}
.custom_select_small_wrap{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* SALARY CALCULATOR */
.salary_input_wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    /* gap: 0.5rem; */
    justify-content: space-between;
}
.salary_input_wrap p{
    margin: 0;
    width: 100%;
    font-weight: 600;
}
.salary_input_wrap input{
    all: unset;
    padding: 0.5rem;
    width: 50%;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
}
.salary_input_wrap select{
    font-family: 'Poppins';
    font-size: 1em;
    padding: 0.5rem;
    width: 40%;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
}
.salary_table{
    width: 25rem;
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid grey;
}
.salary_table thead tr th, .salary_table tbody tr td{
    border: 1px solid grey;
    text-align: left;
    padding: 0.5rem;
}
.salary_table_td_color_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1150px) {

    /* AREA CALCULATOR */
    .calc_category_container{
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {

    /* HOME */
    .calculator_container h1{
        font-size: 2.5em;
    }
    .calculator_nav{
        width: 20rem;
        height: 2.75rem;
    }
    .calc_item_container{
        flex-wrap: wrap;
        justify-content: center;
        width: 7rem;
    }
    .calc_item_name{
        width: 100%;
        padding: 0;
        font-size: 0.8em;
    }
    .calc_item_name span{
        text-align: center;
    }
}