* {
  box-sizing: border-box;
}

:root{
  --primary-color: #ED6663;
  --secondary-color: #FFA372;
  --tertiary-color: #0F4C81;
  --dark-color: #1B262C;
  --dark-color-b: #2E414C;
  --dark-color-c: #415C6C;
  --gray-color: #D4D4D4;
  --dark-gray-color: #BBBBBB;
  --light-color: #EEEEEE;
  --sky-blue: #7DB8D9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--light-color); */
  overflow-x: hidden;
  background-color: var(--light-color);
    background-image:  
        linear-gradient(var(--gray-color) 2px, transparent 2px), 
        linear-gradient(to right, var(--gray-color) 2px, var(--light-color) 2px);
    background-size: 5rem 5rem;
    background-position: 2.5rem 2.5rem;
  /* background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); */
}
