.calculator_layout_wrap{
    margin-top: 4rem;
    min-height: calc(100vh - 11rem);
    display: flex;
    justify-content: space-around;
    /* background: var(--secondary-color); */
    background-color: var(--light-color);
    background-image:  
        linear-gradient(var(--gray-color) 2px, transparent 2px), 
        linear-gradient(to right, var(--gray-color) 2px, var(--light-color) 2px);
    background-size: 5rem 5rem;
    background-position: 2.5rem 2.5rem;
}
.calculator_sidebar{
    margin: 1rem 0;
    /* padding: 1rem; */
    width: 18rem;
    height: 34rem;
    /* background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); */
    background: white;
    border: 3px solid var(--dark-color-b);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    position: sticky;
    top: 5rem;
    user-select: none;
}
.calculator_sidebar h1{
    margin: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
}
.calc_sidebar_item_wrap{
    margin-right: 0.5rem;
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow-y: auto;
    /* scrollbar-width: thin; */
    /* scrollbar-color: var(--gray-color) transparent;  */
}
.calc_sidebar_item_wrap::-webkit-scrollbar {
    width: 10px;
}
.calc_sidebar_item_wrap::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 5px;
}   
.calc_sidebar_item_wrap::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}   
.calc_sidebar_item_wrap::-webkit-scrollbar-track {
    background-color: transparent;
}


.calc_link-side{
    padding: 0.5rem 0 0.5rem 1rem;
    width: 100%;
    height: 20%;
    text-decoration: none;
    color: var(--dark-color);
    display: flex;
    align-items: center;
}
.calc_link-side:hover{
    background: linear-gradient(90deg, var(--gray-color), transparent);
}
.calc_link-side.active{
    font-weight: 600;
    font-size: 1.2em;
    /* color: var(--primary-color); */
}
/* .calc_link-side.active .calc_sidebar_item_icon{
    transform: scale(1.2);
} */
.calc_sidebar_item_icon{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background: var(--light-color);
}
.calc_sidebar_item_text{
    font-size: 0.9em;
}
.calculator_content{
    margin-top: 1rem;
    width: calc(96% - 18rem);
}

.calculator_nav-side{
    margin: 0 1rem 1rem 1rem;
    width: 17rem;
    height: 2.5rem;
    border: 3px solid var(--dark-color-b);
    border-radius: 10px;
    /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)); */
    display: flex;
    justify-content: space-between;
    position: relative;
}
.calculator_nav_items-side{
    width: 40%;
    height: 100%;
    color: var(--dark-color-b);
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease;
}
.calculator_nav_items-side:nth-child(1){
    width: 20%;
}
.calc_nav_active-side{
    height: 100%;
    background: var(--dark-color-b);
    color: white;
}